<div class="row-offcanvas row-offcanvas-left" ng-controller="ViewController as vm">
    <div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12">
            <h4>NIST
                <div class="pull-right">
                    <!--<button class="btn btn-xs btn-default" ng-click="vm.expandAll()">Expand all</button>-->
                    <!--<button class="btn btn-xs btn-default" ng-click="vm.collapseAll()">Collapse all</button>-->
                    <a class="btn btn-primary btn-xs" data-nodrag ng-click="vm.addSubItem()" ng-disabled="true">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a class="btn btn-info btn-xs" data-nodrag ng-click="vm.edit()" ng-disabled="true">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-danger btn-xs" data-nodrag ng-click="vm.remove()" ng-disabled="true">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </h4>
            <div ui-tree id="tree-root">
                <ol ui-tree-nodes ng-model="vm.data">
                    <li ng-repeat="node in vm.data" ui-tree-node data-expand-on-hover="true" ng-include="'view/tree-template.html'" ng-if="!collapsed"></li>
                </ol>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="col-md-12">
            <div ng-if="vm.selectedNode">
                <h3>{{vm.selectedNode.name}} ({{vm.selectedNode.uId}})</h3>
                <p ng-if="vm.selectedNode.description.length">
                    <strong>Description</strong><br>
                    {{vm.selectedNode.description}}
                </p>
                <div ng-if="vm.selectedNode.children.length">
                    <strong>Children</strong><br>
                    <li ng-repeat="child in vm.selectedNode.children">
                        {{child.name}}
                    </li>
                </div>
            </div>
            <hr>
            <div class="input-group">
                <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse &hellip; <input type="file" id="selectFiles" style="display: none;">
                        </span>
                </label>
                <input type="text" class="form-control" readonly>

                <span class="input-group-btn">
                        <button id="import" class="btn btn-success">Import</button>
                    </span>
            </div>
            <br>
            <textarea id="result" rows="7" class="form-control"></textarea>
        </div>
    </div>
</div>