<div class="col-md-4">
    <div class="" ng-controller="ChooseIndCtrl">
        <form ng-submit="submitIndChoice()">
            <div class="col-md-6 center">
                <h3 class="text-center">Choose Industry</h3>

                <div class="checkboxSelect form-group">
                    <div class="checkboxSelect-success">
                        <input class="form-control"
                               type="checkbox"
                               name="general"
                               id="general"
                               ng-model="formData.general"/>
                        <label for="general">General</label>
                    </div>
                </div>


                <div class="checkboxSelect form-group">
                    <div class="checkboxSelect-success">
                        <input class="form-control"
                               type="checkbox"
                               name="studentRecords"
                               id="studentRecords"
                               ng-model="formData.studentRecords"/>
                        <label for="studentRecords">Student Records</label>
                    </div>
                </div>

                <div class="checkboxSelect form-group">
                    <div class="checkboxSelect-success">
                        <input class="form-control"
                               type="checkbox"
                               name="health"
                               id="health"
                               ng-model="formData.health"/>
                        <label for="health">Health</label>
                    </div>
                </div>


                <div class="checkboxSelect form-group">
                    <div class="checkboxSelect-success">
                        <input class="form-control"
                               type="checkbox"
                               name="pci"
                               id="pci"
                               ng-model="formData.pci"/>
                        <label for="pci">PCI</label>
                    </div>
                </div>


                <div class="checkboxSelect form-group">
                    <div class="checkboxSelect-success">
                        <input class="form-control"
                               type="checkbox"
                               name="other"
                               id="other"
                               ng-model="formData.other"/>
                        <label for="other">Other</label>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-primary button"
                            type="submit"
                            id="submit"
                            ng-model="formData.LoadFrameWorks">Load FrameWorks
                    </button>
                </div>
            </div>
        </form>

        <!--for testing if you would like to see the values of the checkboxes -->
        <!--<pre>{{ formData | json}}</pre>-->
    </div>

    <div class="col-md-6">
        <h3 class="text-center">FrameWorks</h3>
        <div class="form-group text-center">
            <button class="btn btn-primary"> Test</button>
        </div>
    </div>
</div>