body, html, .row-offcanvas {
    height: 100%;
}

.col {
    padding: 5px;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
}

#sidebar {
    width: inherit;
    min-width: 450px;
    max-width: 450px;
    background-color: #f5f5f5;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

#main {
    height: 100%;
    overflow: auto;
}

#exportHelper {
    display: none;
}

/* --- Navbar --- */
.navbar-header-menu {
    float: left;
}

.navbar-header-menu > .navbar-nav {
    float: left;
    margin: 0;
}

.navbar-header-menu > .navbar-nav > li {
    float: left;
}

.navbar-header-menu > .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-header-menu > .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    width: auto;
    margin-top: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-header-menu > .navbar-form {
    float: left;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-header-menu > .navbar-form > .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.navbar-header-menu > .navbar-left {
    float: left;
}

.navbar-header-menu > .navbar-right {
    float: right !important;
}

.navbar-header-menu > *.navbar-right:last-child {
    margin-right: -15px !important;
}
/* --- Navbar --- */

/*
 *
 */

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height: 100px
}

.angular-ui-tree-empty {
    background-image: none;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */

.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
    margin: 2px;
}

.tree-handle {
    padding: 10px;
    padding: 2px 5px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
    margin-right: 5px;
}

.angular-ui-tree-handle:hover {}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.angular-ui-tree-node, .angular-ui-tree-placeholder {
    margin: 3px 0;
}


.nodeActive {
    background: limegreen;
    color:#FEFEFA;
}

/* --- Login --- */
.form-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.form-center.form-responsive {
    height: 50%;
    min-width: 400px;
    max-width: 400px;
    padding: 40px;
}

/* --- Loading Indicator --- */
.loading-indicator {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .25) url('loading_text.gif') no-repeat center;
    z-index: 100;
}